body{
    background-color: #ffffff;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header,footer{
    background-color: #fd6e6e;
    color: white;
}

header{
    padding: 35px;
}

footer{
    padding: 15px;
}

.msg-box{
    border-radius: 20px;
    background-color: aquamarine;
    padding: 25px;
    margin-bottom: 35px
}

.msg-box span{
    display: block;
    margin-bottom: 15px;
    backdrop-filter: blur(186px);
}

.msg-box .msg{
    font-size: 23px;
}

main{
    margin: 25px;
}

textarea{
    width: 700px;
    height: 250px;
}
